{% extends 'base.html' %}

{% block main__title %}
<title>Сброс пароля</title>
{% endblock %}

{% block content %}
    <center>
        <h1>
            сброс пароля
        </h1>
    </center>
    <hr>

    {% if form.errors %}
        <p>
            {{ form.errors.error }}
        </p>
    {% endif %}
    <center>
        <form action="{% url 'password_reset' %}" method="post">
            {% csrf_token %}
            {{ form }}
        <hr>
        <button type="submit" class="btn btn-success">
            сброс пароля
        </button>
        </form>
    </center>

{% endblock %}