{% extends 'base.html' %}

{% block main__title %}
    <title>
        подтверждение
    </title>
{% endblock %}

{% block content %}
    <center>
        <h4>
            Пароль был успешно изменён, просим вас перейти на страницу авторизации!
        </h4>
    </center>
    <hr>
    <center>
        <form action="{% url 'login' %}">
            {% csrf_token %}
            <button class="btn btn-success" type="submit">
                Авторизация
            </button>
        </form>
    </center>

{% endblock %}