{% extends 'base.html' %}

{% block main__title %}
    <title>
        подтверждение
    </title>
{% endblock %}

{% block content %}
    <center>
        <h4>
            Мы отправили вавм на email инструкцию для сброса старого пароля, спасибо что пользуетесь нашим сайтом!
        </h4>
    </center>
    <hr>
    <center>
        <form action="{% url 'home' %}">
            {% csrf_token %}
            <button class="btn btn-success" type="submit">
                Вернуться на главную страницу
            </button>
        </form>
    </center>

{% endblock %}